@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.contactForm {
  position: absolute;
  top: 20vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  align-items: center;
}
.contactHeader {
  width: 60%;
  height: 10%;
  color: #ca8dfd;
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.contactInput {
  width: 100%;
  height: 90%;
  display: flex;
}

.contactInput form {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contactInput form input {
  margin-bottom: 25px;
  width: 50%;
  height: 40px;
  border: none;
  border-radius: 200px;
  background-color: #9195c0;
  font-size: 1rem;
  color: #d6d5a8;
  padding: 10px;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}

.contactInput form input::placeholder {
  padding: 5px;
  font-size: 1rem;
  color: #d6d5a8;
  font-family: 'Raleway', sans-serif;
}

.contactInput form input:focus {
  font-size: 1rem;
  color: #d6d5a8;
  font-family: 'Raleway', sans-serif;
  outline: none;
}

.contactInput form button {
  width: 50%;
  height: 60px;
  border: none;
  border-radius: 200px;
  background-color: #8a61ae;
  text-align: center;
  font-size: 1rem;
  color: #d6d5a8;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 30px;
}

.contactImgWrapper {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactImgWrapper img {
  width: 70%;
  height: 70%;
}

@media screen and (max-width: 1000px) {
  .contactForm {
    height: 130vh;
  }
  .contactInput {
    display: flex;
    flex-direction: column-reverse;
  }
  .contactInput form {
    width: 100%;
    height: 60%;
  }
  .contactImgWrapper {
    width: 100%;
    height: 40%;
  }
  .contactInput form input,
  .contactInput form button {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .contactHeader {
    font-size: 1.5rem;
  }
}
