@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');

.faq {
  position: absolute;
  top: 20vh;
  background-color: #000000;
  width: 100%;
  border-top: 2px solid #d6d5a8;
  color: #d6d5a8;
  font-family: 'Raleway', sans-serif;
}

div.c {
  position: relative;
  margin: 2em;
}
.c input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: 0;
}
.c h1 {
  background: #8a61ae;
  color: #d6d5a8;
  padding: 1em;
  position: relative;
}
.c h1 label::before {
  content: '';
  display: inline-block;
  border: 15px solid transparent;
  border-left: 20px solid #d6d5a8;
}
.c h1 label {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}
div.p {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
  background-color: #8a61ae;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
div.p p {
  padding: 2em;
}
input:checked ~ h1 label::before {
  border-left: 15px solid transparent;
  border-top: 20px solid #d6d5a8;
  margin-top: 12px;
  margin-right: 10px;
}
input:checked ~ h1 ~ div.p {
  max-height: 100px;
}
